@model RedditClone.ViewModel.VoteButtonContainer

@{ var upVoteClass = "";
    var downVoteClass = "";
    if (Model.VoteValue == 1)
    {
        upVoteClass = "clicked";
    }else if (Model.VoteValue == -1)
    {
        downVoteClass = "clicked";
    }
        }

<button btn="class btn-link @upVoteClass" onclick="(@Model.Post.Id);"><i class="glyphicon glyphicon-arrow-up"></i></button>

<span>@(Model.Post.UpVotes - Model.Post.DownVotes)</span>

<button btn="class btn-link @downVoteClass" onclick="downVote(@Model.Post.Id);"><i class="glyphicon glyphicon-arrow-down"></i></button>

