@*@model  IEnumerable<RedditClone.Models.Post>*@

@{
    ViewBag.Title = "Home Page";
}

<br><br />

<button type="button" class="btn btn-warning navbar-btn" onclick="location.href='@Url.Action("Create", "Posts")'">Submit New Story</button>

<br><br />

<ul class="list-group">
    @foreach (var post in Model.Posts)
    {
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="@post.Image" class="img" width="100" height="100">
                    </div>
                    <div class="col-xs-10">
                        <div>
                            <h3><a href="@post.Url" title="@post.Title">@post.Title</a></h3>
                            Submitted at @post.PostedAt - X hours ago by @post.UserId Username
                        </div>
                        <div>
                            <span role="presentation"><a href="#">Comments</a></span> &nbsp; <span role="presentation"><a href="#">Share</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<li>
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</li>
